.Person {
    width: 60%;
    margin: 16px auto;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

@media (min-width: 500px){
    .Person {
        width: 450px;
    }   
}

.button {
    background-color: green;
      color: white;
      font: inherit;
      border: 1px solid blue;
      border-radius: 3px;
      padding: 8px;
      cursor: pointer;
}

.button:hover {
        background-color: lightgreen;
        color: black;
}
